Click==7.0
Flask==1.0.2
Flask-CAS-fork==1.0.1
Flask-Cors==3.0.6
flask-sqlalchemy==2.3.2
flask-sslify==0.1.5
waitress==1.1.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
six==1.11.0
SQLAlchemy==1.2.12
Werkzeug==0.14.1
xmltodict==0.11.0
